<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Продажа велосипедов </title>
    <link rel="stylesheet" th:href="@{../css/sale.css}"/>
</head>
<body>
<h1>Заполнение анкеты</h1>
<div class="bicycle">

    <p style="color: red" data-tf="@error_msg"></p>

    <p>
        Пожалуйста, введите свои данные:
    </p>

    <form method="post" th:action="@{/rent/{number}(number=${bicycleId})}" th:id="'submitButton' + ${bicycleId}">
        <p>
            <label>Имя<br /><input/></label>
        </p>

        <p>
            <label>Фамилия<br /><input/></label>
        </p>

        <p>
            <label>Отчество<br /><input/></label>
        </p>

        <p>
            Пол

            <select name="sex">
                <option selected disabled hidden style='display: none' value=''></option>
                <option value="Мужчина">Мужчина</option>
                <option value="Женщина">Женщина</option>
            </select>
        </p>

        <p>
            <label>Номер телефона<br /><input /></label>
        </p>

        <p>
            Способ доставки

            <select id="delivery" onchange="OnSelectionChange (this)">
                <option selected disabled hidden style='display: none' value=''></option>
                <option value="2000">CDEK (2000 руб.)</option>
                <option value="1000">Почта России (1000 руб.)</option>
                <option value="3000">Boxberry (3000 руб.)</option>
            </select>
        </p>

        <p>
            Способ оплаты

            <select name="payment">
                <option selected disabled hidden style='display: none' value=''></option>
                <option value="Наличные">Наличными</option>
                <option value="По карте">По карте</option>
                <option value="Онлайн оплата">Онлайн оплата</option>
            </select>
        </p>

        <p>
            Цена велосипеда:
            <span id="priceSpan" th:text="${bicyclePrice}"></span>
        </p>

        <p>
            Итоговая цена с доставкой:
                <span id="finalPriceSpan"></span>
        </p>

        <p>
            <button type="submit" th:form="'submitButton' + ${bicycleId}" value="Submit">Заказать</button>
        </p>
    </form>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" th:src="@{../js/sale.js}"></script>
</body>
</html>